.search-container{
    width:280px;
    display:flex;
    flex-direction:column;
    }
    
    .dropdown{
    background-color: white;
    display:flex;
    flex-direction: column;
    /* border:1px solid gray; */
    cursor:pointer;
    }

    .dropdown-row{
        border:1px solid gray;
        border-bottom:1px solid black;
    }
    
    .dropdown:empty{
    cursor:pointer;
    text-align:start;
    margin: 2px 0;
    }
    
    input{
     width:100%;
    }
    
    .search-inner{
    display:flex;
    width: 450px;
    margin-bottom:0;
    }