@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
a{
  text-decoration: none !important;
  color: #666 !important;
}
.header{
  color: #fff;
}
.main{
display: flex;
/* transition: all 0.5s; */
}

.sidebar{
  position: fixed;
  width: 235px;
  left: 0;
  background: #fff;
  color: #666;
  height: 100%;
  overflow: auto;
  transition: all 0.5s;
}
.sidebar-item {
  padding: .5rem 1rem;
  display: block;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 0.15s;
}

.sidebar-item:hover {
  /* background-color: #eee; */
}
.sidebar-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #666;
  /* font-size: 1.2em; */
}
.sidebar-title .icon{
  display: flex;
  gap: 10px;
  align-items: center;
}
.sidebar-title .toggle_btn {
  cursor: pointer;
  transition: all 0.5s;
}
.sidebar-title .toggle_btn svg{
  color: #666 !important;
}
.sidebar-item.open .title{
  font-weight: bold;
}
.sidebar-item.open .toggle_btn {
  transform: rotate(90deg); 
}
.sidebar-item.open .sidebar-title{
  /* background-color: red; */

}
.sidebar-content {
  padding-top: 0.25em;
  height: 0;
  overflow: hidden;
}
.sidebar-item.open .sidebar-content {
  height: auto;
}

.content{
  width: 100%;
  /* background-color: #ccc; */
  padding-left: 235px;
  transition: all 0.5s;
  /* background-image: url('../src/assets/bg.png'); */
  background-size: cover;
height: 100%;
}
.form-tbl{
  border:1px solid #555 !important;
  padding: 0.5em;
}
.form button{
width: 150px;
margin: 0 auto;
}
/* 
.s-parent {
  border-bottom: 2px solid #ccc;
}

.sidebar-item.open .sidebar-title .arrow-icon {
  transform: rotate(90deg);
}

.sidebar-item.open  .sidebar-content {
  height: 100%;
}

.s-child {
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-top: 5px;
}

.s-child:hover {
  border: 1px solid var(--light-blue);
}

a {
  color: var(--colo-dark);
  text-decoration: none;
  transition: all 0.2s;
}

.active {
  color: var(--color-primary);
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  background-color: #eee;
}

.active::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 100%;
  right: 0;
  top: 0;
  background-color: var(--light-blue);
}

.sublink .sidebar-item .sidebar-title {
  padding-left: 40px;
}
.content{
  width: 100%;
  background-color: #ccc;
  padding-left: 235px;
  transition: all 0.5s;
} */




