@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
:root{
  --main-color:#303778;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html{
  font-size: 14px;
}
body{
  background: #f1f1f1 !important;
  /* background: #dfe9f5 !important; */
}
a{
  text-decoration: none !important;
  /* color: #666; */
}
.bg-primary{
  background-color: var(--main-color) !important;
}
.text_primary{
color:#303778;
}
.header {
  background-color: #303778 !important;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}
.main{
display: flex;
/* transition: all 0.5s; */
}

.sidebar{
  position: fixed;
  width: 235px;
  left: 0;
  background: #000c17;
  /*color: #fff;
  *//*height: 100%;
  overflow: auto;
  */transition: all 0.3s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.sidebar .inner_content {
  padding-top: 60px;
  overflow-y: auto;
  height: -webkit-fill-available;
}
.inner_content.collap{
  overflow-x: hidden;
}
.sidebar .inner_content.collap .ant-menu-submenu-arrow{
display: none;
}
.ant-menu-item .ant-menu-title-content:hover{
  /* color: #22a5c5; */
  padding-left: 5px;
  transition:.5s  ease-in-out;
  -webkit-transition:.5s  ease-in-out;
  -moz-transition:.5s  ease-in-out;
  -ms-transition:.5s  ease-in-out;
  -o-transition:.5s  ease-in-out;
}
:where(.css-dev-only-do-not-override-12jzuas).ant-menu-dark .ant-menu-submenu-title:hover:not(.ant-menu-item-selected):not(.ant-menu-submenu-selected){
  color: #22a5c5;
  padding-left: 5px;
}
:where(.css-dev-only-do-not-override-12jzuas).ant-menu-dark .ant-menu-item:hover:not(.ant-menu-item-selected):not(.ant-menu-submenu-selected){
  color: #22a5c5;
}
 :where(.css-dev-only-do-not-override-12jzuas).ant-menu .ant-menu-submenu-title .ant-menu-item-icon{
  min-width: 20px;
  font-size: 20px;
}
:where(.css-dev-only-do-not-override-12jzuas).ant-menu .ant-menu-item .ant-menu-item-icon, :where(.css-dev-only-do-not-override-12jzuas).ant-menu .ant-menu-submenu-title .ant-menu-item-icon, :where(.css-dev-only-do-not-override-12jzuas).ant-menu .ant-menu-item .anticon, :where(.css-dev-only-do-not-override-12jzuas).ant-menu .ant-menu-submenu-title .anticon {
  min-width: 20px;
  font-size: 20px;
}
/* .sidebar-item {
  display: block;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 0.15s;
  margin-top: 10px;
}
.s-child .sidebar-item {
  padding-left: 35px;
}
.sidebar-item:hover {

}
.sidebar-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #333 !important;
  overflow: hidden;
  padding: .5rem 1rem;
}

.sidebar-item.open .sidebar-title{

}
.sidebar-title .icon{
  display: flex;
  gap: 15px;
  align-items: center;
}
.sidebar-title .icon svg{
  font-size: 20px;
  color: #333 !important;

}
.sidebar-title .title{
  width: max-content;
  color: #333 ;
}
.sidebar-title:hover .title {
  color: #34c4cb;
  padding-left: 5px;
  transition:.5s;
  -webkit-transition:.5s;
  -moz-transition:.5s;
  -ms-transition:.5s;
  -o-transition:.5s;
} */
a:active {

}
a:focus {

}

/* .sidebar-title .toggle_btn {
  cursor: pointer;
  transition: all 0.5s;
}
.sidebar-title .toggle_btn svg{
  color: #333 !important;
}
.sidebar-item.open .title{

  color: #34c4cb;
}

.sidebar-item.open .toggle_btn {
  transform: rotate(90deg); 
}
.sidebar-item.open .sidebar-title{

}
.sidebar-content {
  padding-top: 0.25em;
  height: 0;
  overflow: hidden;
}
.sidebar-item.open .sidebar-content {
  height: auto;
} */


.content{
  width: 100%;
  /* background-color: #ccc; */
  padding-left: 235px;
  transition: all 0.5s;
  /* background-image: url('../src/assets/bg.png'); */
  background-size: cover;
height: 100%;
padding-top: 69px;
/* position: relative; */
}
.pg_title{
  text-align: center;
}
.form.card {
  border-top: 4px solid #2196F3;
  max-width: 900px;
  margin: auto;
}
.form-tbl{
margin: 0 auto;
}
.search-container {
  width: initial;
}
.dropdown {
  border-radius: 10px;
  width: 200px;
}
.dropdown-row {
  border: 1px solid gray;
  padding: 2px 5px;
  border-radius: 10px;
  /*border: 0;
  *//*border: 1px solid gray;
  *//*border-bottom: 1px solid black;
   */
}
.search-inner {

  width: initial;

}
.form-tbl{
  border:1px solid #555 !important;
  padding: 0.5em;
  background: #efefef;
}
.form-tbl table thead{
  background-color: green;
}
.form-tbl table tr:nth-child(2n + 1){
  /* background: #555; */
}
.form button{
width:auto;
margin:5px;
}
table  .act_icon{
  display: flex;
  gap: 5px;
 /* display: flex;
 align-items: center;
 flex-wrap: wrap;
 gap: 20px; */
}
table  .act_icon span {
  width: 25px;
  height: 25px;
  display: inline-block;
  text-align: center;
  background-color: red;
  color: #fff;
  /* margin: 5px; */
  /* padding-bottom: 7px; */
}
table  .act_icon span:nth-child(2){
  background-color: green;
}
/* 
.s-parent {
  border-bottom: 2px solid #ccc;
}

.sidebar-item.open .sidebar-title .arrow-icon {
  transform: rotate(90deg);
}

.sidebar-item.open  .sidebar-content {
  height: 100%;
}

.s-child {
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-top: 5px;
}

.s-child:hover {
  border: 1px solid var(--light-blue);
}

a {
  color: var(--colo-dark);
  text-decoration: none;
  transition: all 0.2s;
}

.active {
  color: var(--color-primary);
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  background-color: #eee;
}

.active::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 100%;
  right: 0;
  top: 0;
  background-color: var(--light-blue);
}

.sublink .sidebar-item .sidebar-title {
  padding-left: 40px;
}
.content{
  width: 100%;
  background-color: #ccc;
  padding-left: 235px;
  transition: all 0.5s;
} */


.search-container .dropdown{
  height: 150px;
  overflow-y: auto;
  border: 1px solid #ddd;
}
.search-container .dropdown-row {
  /* border: 1px solid gray; */
  padding: 2px 5px;
  border-radius: 10px;
  color:#666;
  border:0;
  /* border: 0; */
  /* border: 1px solid gray; */
  /* border-bottom: 1px solid black; */
}



/* New Auto Complete */

.autocomplete {
  /* width: 500px; */
  /* border: 1px solid #d4d4d4; */
  border-radius: 10px;
  position: relative;
}

.autocomplete input {
  width: 100%;
  border: none;
  margin: 10px 0;
  font-size: 16px;
  /* padding: 10px 10px 0 10px; */
}

input:focus {
  outline: none;
}

.suggestions {
  height: 150px;
  overflow-y: auto;
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid #d4d4d4;
  background-color: #f7f7f7;
  border-radius:10px;
  position: absolute;
  z-index: 999;
  width: -webkit-fill-available;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  -ms-border-radius:10px;
  -o-border-radius:10px;
}

.suggestions li {
  list-style: none;
  padding: 10px;
  cursor: pointer;
}

.autocomplete li:hover {
  background-color: #d4d4d4;
}


/* Auth layout */


/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #303778  #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #303778 ;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }