@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
:root{
  --main-color:#303778;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html{
  font-size: 14px;
}
body{
  background: #f1f3f6 !important;
}
a{
  text-decoration: none !important;
  color: #666;
}
.bg-primary{
  background-color: var(--main-color) !important;
}
.text_primary{
color:#303778;
}
.header {
  background-color: #303778 !important;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}
.main{
display: flex;
/* transition: all 0.5s; */
}

.sidebar{
  position: fixed;
  width: 235px;
  left: 0;
  background: #fff;
  /* color: #fff; */
  /* height: 100%;
  overflow: auto; */
  transition: all 0.5s;
}
.sidebar .inner_content {
  padding-top: 69px;
}
.sidebar-item {
  padding: .5rem 1rem;
  display: block;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 0.15s;
}

.sidebar-item:hover {
  /* background-color: #eee; */
}
.sidebar-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #333 !important;
  overflow: hidden;
  /* font-size: 1.2em; */
}
.sidebar-title .icon{
  display: flex;
  gap: 15px;
  align-items: center;
}
.sidebar-title .icon svg{
  font-size: 20px;
  color: #333 !important;

}
.sidebar-title .title{
  width: max-content;
  color: #333 !important;

  
}
.sidebar-title .toggle_btn {
  cursor: pointer;
  transition: all 0.5s;
}
.sidebar-title .toggle_btn svg{
  color: #333 !important;
}
.sidebar-item.open .title{
  font-weight: bold;
}
.sidebar-item.open .toggle_btn {
  transform: rotate(90deg); 
}
.sidebar-item.open .sidebar-title{
  /* background-color: red; */

}
.sidebar-content {
  padding-top: 0.25em;
  height: 0;
  overflow: hidden;
}
.sidebar-item.open .sidebar-content {
  height: auto;
}

.content{
  width: 100%;
  /* background-color: #ccc; */
  padding-left: 235px;
  transition: all 0.5s;
  /* background-image: url('../src/assets/bg.png'); */
  background-size: cover;
height: 100%;
padding-top: 69px;
/* position: relative; */
}
.form.card{
  border-top: 4px solid #2196F3;
}
.search-container {
  width: initial;
}
.dropdown {
  border-radius: 10px;
  width: 200px;
}
.dropdown-row {
  border: 1px solid gray;
  padding: 2px 5px;
  border-radius: 10px;
  /*border: 0;
  *//*border: 1px solid gray;
  *//*border-bottom: 1px solid black;
   */
}
.search-inner {

  width: initial;

}
.form-tbl{
  border:1px solid #555 !important;
  padding: 0.5em;
  background: #efefef;
}
.form-tbl table thead{
  background-color: green;
}
.form-tbl table tr:nth-child(2n + 1){
  /* background: #555; */
}
.form button{
width: 150px;
margin: 0 auto;
}
table  .act_icon{
  display: flex;
  gap: 5px;
 /* display: flex;
 align-items: center;
 flex-wrap: wrap;
 gap: 20px; */
}
table  .act_icon span {
  width: 25px;
  height: 25px;
  display: inline-block;
  text-align: center;
  background-color: red;
  color: #fff;
  /* margin: 5px; */
  /* padding-bottom: 7px; */
}
table  .act_icon span:nth-child(2){
  background-color: green;
}
/* 
.s-parent {
  border-bottom: 2px solid #ccc;
}

.sidebar-item.open .sidebar-title .arrow-icon {
  transform: rotate(90deg);
}

.sidebar-item.open  .sidebar-content {
  height: 100%;
}

.s-child {
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-top: 5px;
}

.s-child:hover {
  border: 1px solid var(--light-blue);
}

a {
  color: var(--colo-dark);
  text-decoration: none;
  transition: all 0.2s;
}

.active {
  color: var(--color-primary);
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  background-color: #eee;
}

.active::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 100%;
  right: 0;
  top: 0;
  background-color: var(--light-blue);
}

.sublink .sidebar-item .sidebar-title {
  padding-left: 40px;
}
.content{
  width: 100%;
  background-color: #ccc;
  padding-left: 235px;
  transition: all 0.5s;
} */


.search-container .dropdown{
  height: 150px;
  overflow-y: auto;
  border: 1px solid #ddd;
}
.search-container .dropdown-row {
  /* border: 1px solid gray; */
  padding: 2px 5px;
  border-radius: 10px;
  color:#666;
  border:0;
  /* border: 0; */
  /* border: 1px solid gray; */
  /* border-bottom: 1px solid black; */
}

